.filesTable {
  margin: 10px;
  padding-top: 5px;
  border: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardBackgroundColor);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.actions {
  display: flex;
  margin: 10px;
}

.selectInput {
  margin-left: 10px;
}

.blankpad {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2em;
}
