.filesTable {
  margin-bottom: 20px;
  padding-top: 15px;
  border: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardBackgroundColor);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.actions {
  display: flex;
  margin-right: auto;
  gap: 10px;
}

.selectInput {
  margin-left: 10px;
}
