.container {
  position: relative;
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: linear-gradient(to right, transparent, var(--white) 10px, var(--white) 90%, transparent), linear-gradient(to left, transparent, var(--white) 10px, var(--white) 90%, transparent);
  mask-image: linear-gradient(to right, transparent, var(--white) 10px, var(--white) 90%, transparent), linear-gradient(to left, transparent, var(--white) 10px, var(--white) 90%, transparent);
}

.inner {
  transition: transform var(--duration) ease-in-out;
}

.toLeft {
  transform: translateX(var(--distance));
}
