.container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.content {
  position: relative;
  display: flex;
  height: 100%;
  transition: var(--transition);
  transform: translateX(var(--translate));
}
