.innerContentBody {
  padding: 0;
}

.errorMessage {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.metadataMessage {
  color: var(--helpTextColor);
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.contentContainer {
  padding: 20px;
}

.tabList {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--lightGray);
}

.tab {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-top: none;
  list-style: none;
  cursor: pointer;
}

.selectedTab {
  border-bottom: 4px solid var(--linkColor);
}

.tabContent {
  margin-top: 20px;
}

.filterIcon {
  float: right;
}

.authorNavigationButtons {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 10px;
  padding: 30px;
  white-space: nowrap;
}

.authorUpButton,
.authorNavigationButton {
  composes: button from '~Components/Link/IconButton.css';

  margin-left: 5px;
  width: 30px;
  color: #e1e2e3;
  white-space: nowrap;

  &:hover {
    color: var(--iconButtonHoverLightColor);
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .contentContainer {
    padding: 20px 0;
  }

  .authorNavigationButtons {
    padding: 15px;
  }

  .authorNavigationButtons {
    margin-top: 5px;
  }

  .authorNavigationButton {
    display: none;
  }
}
