.footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dropdownContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.inputContainer {
  flex: 1;
  margin-right: 20px;
  min-width: 150px;
}

.buttonContainer {
  display: flex;
  flex-grow: 1;
}

.buttonContainerContent {
  flex-grow: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.organizeSelectedButton,
.tagsButton {
  composes: button from '~Components/Link/SpinnerButton.css';

  margin-right: 10px;
  margin-bottom: 10px;
  height: 35px;
}

.deleteSelectedButton {
  composes: button from '~Components/Link/SpinnerButton.css';

  margin-bottom: 10px;
  margin-left: 50px;
  height: 35px;
}

@media only screen and (max-width: $breakpointExtraLarge) {
  .deleteSelectedButton {
    margin-left: 0;
  }
}

@media only screen and (max-width: $breakpointLarge) {
  .buttonContainer {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .dropdownContainer {
    display: block;
  }

  .inputContainer {
    margin-right: 0;
  }

  .buttonContainer {
    justify-content: flex-start;
  }

  .buttonContainerContent {
    flex-grow: 1;
  }

  .buttons {
    display: block;
    justify-content: space-between;
  }

  .selectedAuthorLabel {
    text-align: left;
  }
}
