.importListExclusionsHeader {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.name {
  @add-mixin truncate;

  flex: 1 0 600px;
}

.foreignId {
  flex: 0 0 200px;
}

.addImportListExclusion {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.addButton {
  text-align: center;
}
