.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.status {
  composes: cell;

  flex: 0 0 30px;
}

.title {
  composes: cell;

  flex: 4 0 110px;
}

.authorName {
  composes: cell;

  flex: 1 0 110px;
}

.link {
  composes: link from '~Components/Link/Link.css';

  position: relative;
  display: block;
  height: 70px;
  background-color: var(--defaultColor);
}

.bannerImage {
  width: 379px;
  height: 70px;
}

.overlayTitle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  color: var(--offWhite);
  text-align: center;
  font-size: 20px;
}

.bookFileCount,
.qualityProfileId,
.metadataProfileId {
  composes: cell;

  flex: 1 0 125px;
}

.releaseDate,
.added,
.genres {
  composes: cell;

  flex: 0 0 180px;
}

.bookProgress {
  composes: cell;

  display: flex;
  justify-content: center;
  flex: 0 0 150px;
  flex-direction: column;
}

.path {
  composes: cell;

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: cell;

  flex: 0 0 120px;
}

.ratings {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.tags {
  composes: cell;

  flex: 1 0 60px;
}

.actions {
  composes: cell;

  flex: 0 1 90px;
  min-width: 60px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}
