<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-bsd-crossbuild" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/dotnet-bsd-crossbuild/nuget/v3/index.json" />
    <add key="Mono.Posix.NETStandard" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/Mono.Posix.NETStandard/nuget/v3/index.json" />
    <add key="SQLite" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/SQLite/nuget/v3/index.json" />
    <add key="coverlet-nightly" value="https://pkgs.dev.azure.com/Servarr/coverlet/_packaging/coverlet-nightly/nuget/v3/index.json" />
    <add key="FluentMigrator" value="https://pkgs.dev.azure.com/Servarr/Servarr/_packaging/FluentMigrator/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
  <!-- key value for <packageSource> should match key values from <packageSources> element -->
  <packageSource key="nuget.org">
    <package pattern="*" />
  </packageSource>
  <packageSource key="dotnet-bsd-crossbuild">
    <package pattern="*" />
  </packageSource>
  <packageSource key="Mono.Posix.NETStandard">
    <package pattern="Mono.Posix.NETStandard" />
  </packageSource>
  <packageSource key="SQLite">
    <package pattern="System.Data.SQLite.Core.Servarr" />
  </packageSource>
  <packageSource key="coverlet-nightly">
    <package pattern="coverlet.*" />
  </packageSource>
  <packageSource key="FluentMigrator">
    <package pattern="Servarr.FluentMigrator*"/>
  </packageSource>
</packageSourceMapping>
</configuration>
